{% extends "base.html" %}

{% block title %}Screening Movies{% endblock %}

{% block content %}
<main>
    {% for movie in movies %}
    <div style="border: 1px solid black;">
        <h2>{{ movie.name }}</h2>
        <ul>
        {% for screening in movie.screening_set.all %}
            <li>Room {{ screening.room.number }} - {{ screening.start_time }}</li>
        {% endfor %}
        </ul>
        <h3>Duration: {{ movie.duration_seconds }} seconds</h3>
    </div>
    {% endfor %}
</main>
{% endblock content %}