{% extends "base.html" %}

{% block title %}Project start{% endblock %}

{% block content %}
<main>
    <p style="text-align: center;">
        CinemaDD simulates the full cinema booking experience. You can browse movies and screening times, 
        <span style="display: block;">select multiple seats in a single booking, 
        and complete the reservation flow to receive a purchase receipt. </span>

        <span style="display: block; padding-top: 8px;">
            The system models realistic seat states such as available, held, and sold, using preloaded sample data so you can test the behavior right away.
        </span>

        <span style="display: block; padding-top: 20px;">Try it?</span>
    </p>
    <p style="text-align: center;"><a href="{% url 'booking:movie-list' %}">START</a></p>
</main>
{% endblock content %}