{% extends "base.html" %}

{% block title %}Project start{% endblock %}

{% block content %}
<main>
    <div class="container fs-5">
        <p class="text-center text-wrap">
            Cinemadd simulates the full cinema booking experience. You can browse movies and screening times, 
            select multiple seats in a single booking, 
            and complete the reservation flow to receive a purchase receipt.
        </p>
        <p class="text-center text-wrap">
            The system models realistic seat states such as available, held, and sold, using preloaded sample data so you can test the behavior right away.
        </p>

        <p class="text-center pt-5">
            Try it?
        </p>
        
        <p class="text-center">
            <a class="btn btn-outline-primary fs-5 px-5" role="button" href="{% url 'booking:movie-list' %}">START</a>
        </p>
    </div>
</main>
{% endblock content %}